body {
    font-family: 'Poppins', sans-serif;
    background-color: #dad7cd;
    color: #344e41;
    width: 600px;
    margin: 0 auto;
}

 h3 {
    color: #588157;
 }

 .home-links {
    display: inline-block;
    padding: 16px 24px 0 16px;
 }

 .link-colour {
    color: #588157;
 }

 