body {
    font-family: 'Poppins', sans-serif;
    background-color: #dad7cd;
    color: #344e41;
    width: 600px;
    margin: 0 auto;
}

 h3 {
    color: #588157;
 }

 .home-links {
    display: inline-block;
    padding: 16px 24px 0 16px;
 }

 .link-colour {
    color: #588157;
 }

 .home-image {
    border-radius: 30% 40% 20% 55%;
 }

 .ramen-image {
    border-radius: 40% 20% 55% 20%;
 }

 .mochi-image {
    border-radius: 70% 20% 40% 40%;
 }

 .sushi-image {
 border-radius: 30% 70% 20% 40%;
 }


 